/* mobile */
@media (min-width: 300px) {
  main > section {
    margin: 40px 10% 0;
  }

  #about {
    margin-left: 15%;
    margin-right: 15%;
  }

  #contact .about-info {
    font-size: 14px;
  }

  .icon-pointing {
    width: 28px;
    height: 14px;
    top: 4px;
    margin-right: 2px;
  }

  .home-page-img {
    display: none;
  }

  .home-page-text  {
    display: block;
  }

  .personal-pic > img {
    width: 80%;
  }

  .art-pic {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }

  .modal-content {
    padding: 0 10%;
  }

  .modal-content > img {
    height: auto;
    width: 100%;
  }

  .art-pic > img {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
  }

  .subtitle {
    padding: 0 35px;
  }

  #about > .profile-pic {
    width: 80%;
  }
}

/* medium */
@media (min-width: 600px) {
  main > section {
    margin: 40px 10% 0;
  }

  .subtitle {
    padding: 0;
  }

  #contact .about-info {
    font-size: 16px;
  }

  .icon-pointing {
    width: 40px;
    height: 20px;
    top: 6px;
    margin-right: 5px;
  }

  .personal-pic > img {
    width: 60%;
  }

  .modal-content {
    padding: 0 20%;
  }

  .modal-content > img {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 460px;
  }

  .art-pic {
    width: 33%;
    height: 200px;
    margin-bottom: 20px;
  }

  .art-pic > img {
    width: auto;
    max-width: 100%;
    max-height: 200px;
  }

  #about > .profile-pic {
    width: 60%;
  }
}

/* large */
@media (min-width: 880px) {
  #about {
    margin-left: 22%;
    margin-right: 22%;
  }

  .home-page-img {
    display: block;
    float: left;
    cursor: pointer;
  }

  .home-page-text  {
    display: none;
  }

  .modal-content > img {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 480px;
  }

  .personal-pic > img {
    width: 80%;
  }

  .about-pics > figure {
    width: 33%;
  }
}

/* responsive adjustment */
/* small screens */
@media screen and (max-width: 880px) {
  html,
  body {
    margin: 0;
  }

  main {
    z-index: 20;
    margin-top: 50px;
  }

  navbar[role="header-navbar-dropdown"] {
    border: 0;
    background: #fff;
  }

  navbar[role="header-navbar-dropdown"] ul {
    opacity: 0;
    z-index: -1;
    height: 0;
    transition: opacity, z-index ease-in-out .8s;
    transition: height top;
    position: relative;
    top: -40px;
  }

  navbar[role="header-navbar-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
  }

  navbar[role="header-navbar-dropdown"] label:after {
    position: absolute;
    right: 10px;
    top: -3px;
    content: "\2261";
    font-size: 36px;
    cursor: pointer;
  }

  navbar[role="header-navbar-dropdown"] input[type=checkbox]:checked ~ ul {
    padding: 0;
    opacity: 1;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: opacity, z-index ease-in-out .8s;
    transition: height top;
    box-sizing: border-box;
    top: 0;
    border-bottom: 1px solid #eee;
  }

  navbar[role="header-navbar-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: center;
  }

  navbar[role="header-navbar-dropdown"] input[type=checkbox]:checked ~ ul > li:hover {
    background: #eee;
  }
}
