/* sprite */
.icon {
	display: inline-block;
  position: relative;
	background-image: url('./../image/icon-sprite.svg');
	background-repeat: no-repeat;
	background-size: 900%;
	fill: #444444;
}

.icon-small {
  width: 20px;
  height: 20px;
  top: 6px;
}

.icon-normal {
  width: 30px;
  height: 30px;
  top: 10px;
}

.icon-big {
  width: 40px;
  height: 40px;
  top: 15px;
}

.icon-envelop {
  background-position: 0px 0px;
}

.icon-linkedin-big {
  background-position: -40px 0px;
}

.icon-github-big {
  background-position: -80px 0px;
}

.icon-github-normal {
  background-position: -60px 0px;
}

.icon-heart-small {
  background-position: -60px 0px;
}

.icon-heart-big {
  background-position: -120px 0px;
}

.icon-happy1-normal {
  background-position: -120px 0px;
}

.icon-happy2-normal {
  background-position: -150px 0px;
}

.icon-in-love-normal {
  background-position: -182px 0px;
}

.icon-emojicon-normal {
  background-position: -212px 0px;
}

.icon-location-normal {
  background-position: -237px 0px;
}

.icon-location-big {
	background-position: -317px 0px;
}
