/* application */
body {
  position: relative;
  font-family: "Source Sans Pro", Arial, sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

small {
  font-size: 12px;
  margin-right: 10px;
}

section:not(.active) {
  display: none;
}

.modal {
  display: none;
  z-index: 5;
  top: -42px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.modal-blocker {
  height: 100%;
  width: 100%;
  background: #fff;
}

.modal-content {
  position: absolute;
  top: 0;
  padding: 0 20%;
  box-sizing: border-box;
  display: block;
  margin: 50px auto 20px;
  width: 100%;
}

.modal-content > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.modal-return-btn {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.modal-return-btn > span {
  font-weight: bold;
  margin-right: 10px;
}

/* navbar */
navbar {
  width: 100%;
  height: 38px;
}

.home-page-img {
  box-shadow: 1px 1px 0 1px #eee;
  position: relative;
  top: -10px;
  left: 0px;
}

/* reusable */
.section-header {
  font-size: 22px;
  text-align: center;
  font-weight: 300;
}

.section-header-underline {
  max-width: 50px;
  border-color: #000;
  border-width: 1px;
  position: relative;
  bottom: 2px;
  margin-bottom: 20px;
}

.art-pic {
  float: left;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.art-pic > img {
  margin: auto;
}

/* sprite */
.icon-pointing {
	display: inline-block;
  width: 40px;
  height: 20px;
  top: 6px;
  position: relative;
	background-image: url('./../images/pointing.png');
	background-repeat: no-repeat;
	background-size: 100%;
  margin-right: 5px;
}

/* custom dropdown navbar */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display: none;
  cursor: pointer;
  user-select: none;
}

/* background for li / select */
/* header-navbar-dropdown */
navbar[role="header-navbar-dropdown"] {
  position: fixed;
  top: 0;
  z-index: 10;
  background: #fff;
  width: 100%;
}

navbar[role="header-navbar-dropdown"] a,
navbar[role="header-navbar-dropdown"] label {
  text-decoration: none;
  font-size: 14px;
  transition: color .3s ease-in-out;
}

navbar[role="header-navbar-dropdown"] ul {
  padding: 0 20px;
  margin: 0 auto;
  list-style: none;
}

navbar[role="header-navbar-dropdown"] ul > li {
  float: left;
  padding: .55em .55em;
  width: 18%;
  text-align: center;
  transition: color ease-in-out .3s ;
  cursor: pointer;
  box-sizing: border-box;
}

navbar[role="header-navbar-dropdown"] ul > li:hover a {
  color: rgba(35, 81, 78, 1);
  font-weight: bold;
}

/* Main content */
main {
  margin-top: 80px;
  width: 100%;
  min-height: calc(100vh - 130px);
}

/* header */
main > header {
  margin: 40px 0;
}

#app-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 48px;
  margin-top: 20px;
  cursor: pointer;
}

#app-title > span {
  margin: 0 8px;
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  display: block;
  text-align: center;
}

.about-pics {
  margin-top: 40px;
  padding: 0 15%;
  display: none;
}

.about-pics > figure {
  float: left;
}

.about-pic {
  margin: auto;
  box-shadow: 3px 3px 4px 2px #ccc;
}

/* about */
#about {
  margin-left: 25%;
  margin-right: 25%;
}

.about-greeting {
  display: block;
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: bold;
}

.profile-pics {
  position: relative;
  width: 100%;
}

.profile-pic {
  height: auto;
  width: 80%;
  margin: auto;
  box-shadow: 1px 1px 3px 2px #ccc;
}

#about > figure {
  display: block;
  float: left;
  min-width: 200px;
  padding-top: 25px;
}

.about-info {
  display: block;
  position: relative;
  margin: 20px 0;
  text-align: center;
}

.about-info > p {
  font-weight: 300;
}

/* contact */
#contact {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.contact-icons {
  display: inline-block;
}

.contact-icons > a {
  display: block;
  float: left;
}

.contact-icons > *:not(:last-child) {
  margin-right: 18px;
}

.personal-pic > img {
  margin: auto;
  max-width: 500px;
}

/* footer */
footer {
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 300;
  padding: 20px 0;
}
